<div class="page-container">
  <div class="message-body">
  <md-toolbar md-scroll-shrink class="md-hue-2 sub-theme">
     <div class="md-toolbar-tools bold">
  		 <h2>Message from the President</h2>
  	  </div>
  </md-toolbar>

  <md-content class="md-padding theme-padding">
  	<md-subheader class="md-primary"><h3>Darryl Washington</h3> <h4>President / CEO</h4></md-subheader>
  		<div class="message-content" layout-xs="column">
  <img flex
		 src="images/dkw-president.jpg"
		 class="president-img"
		 align="left"
		 layout="column" ui-sref="app"/>

			<div flex class="quote"><p>“What distinguishes DKW is the call to public service that our people bring to the job. We are motivated to perform at a high level, and we welcome your feedback. From our disciplined and accessible management team to the rising stars of our technical teams to the support staff that glue it all together, we are focused on and driven to meet your needs. Please browse our Web site and learn more about DKW. If you have any questions or think we can help you, please don’t hesitate to give me a call. I’m always available.”</p></div>

			<div flex class="quote"><p> - Darryl K. Washington, CEO and President</p></div>

      <p>As the founder and CEO of DKW Communications Inc., Darryl Washington fosters a corporate culture of excellence, innovation, and integrity. Under his leadership, the evolution of DKW has been acknowledged through industry awards for Performance Excellence, Management Excellence, and Financial Growth.</p>

      <p>Headquartered in Washington, DC, DKW serves the Department of Defense (DoD), Federal civilian, and independent government agencies including Defense Information Systems Agency (DISA), Army, Navy, Air Force and Intelligence Community. DKW’s Intelligence Community customers include the National Security Agency (NSA), Central Intelligence Agency (CIA), and INSCOM. Our civil agency clients include the Department of Treasury, the Department of Agriculture (USDA), Department of State (DOT), the United States Agency for International Development (USAID), the Department of Transportation (DOT), the Federal Aviation Authority (FAA), the Department of Labor (DOL), and the General Services Administration (GSA).</p>

      <p>Born in Birmingham, Alabama, Mr. Washington attended Howard University and graduated with a B.S. in Electrical Engineering. Prior to founding DKW Communications, Inc., he was a civil servant, supporting intelligence agencies and working in positions of increasing responsibility in the IT services community. With more than 25 years of expertise as a corporate owner and as a senior executive, Mr. Washington provides his vision and guides DKW Communications, Inc. in applying proven and effective IT solutions for its clients.</p>

      <p>His community activities include serving on the Board of Directors at his community church. Mr. Washington is a sponsor of the AAU Basketball Team. He is on the Board of the National Leadership Council of Greater Washington, DC and was elected a member for the year 2004. Mr. Washington is also a sponsor of the National Book Club Conference, and he serves as a mentor on education for the Washington, DC public school system. His tenure as a mentor on this board is part of his way of giving back to the DC public school system and community in which he was raised.</p>
  	</div>
    </md-content>
  </div>
</div>
