<!-- template for the root component -->
<div class="page-wrap">
	<!-- all content needs to be inside of the page wrap div -->
   <dkw-header view="$ctrl.view"/>
   <!--Main Body Content-->
   <div id="dkw-body" class="mainBody" ui-view="content" autoscroll="true" aria-relevant="all" aria-live="assertive"></div>
</div>
<div class="social-links">
  <a ng-repeat="social in $ctrl.socialMediaLinks" class="social-icon {{social.colorClass}}" href="{{social.url}}" target="_blank"><i class="fa fa-2x {{social.icon}}" aria-hidden="true"></i></a>
</div>
<!-- dkw-footer needs to be outside of the page wrap div -->
<dkw-footer/>
