<div layout="column">
   <md-nav-bar aria-label="Nav">
      <!-- template for the dkw_header -->
      <md-toolbar class="dkw-header md-primary">
         <div class="md-toolbar-tools" layout="row">
            <image
               ng-if="$ctrl.parent.view.isMobile"
               id="header-logo"
               src="images/dkw-logo-mobile.png"
               layout="column" ui-sref="app"/>
            <image
               ng-if="!$ctrl.parent.view.isMobile"
               id="header-logo"
               src="images/dkw-logo.png"
               layout="column" ui-sref="app"/>
            <span flex></span>
            <md-button aria-label="More"
               ng-if="!$ctrl.isOpenRight()"
               ng-click="$ctrl.toggleIsSearching()"
               class="md-icon-button"
               aria-label="Search">
               <i class="fa fa-search fa-2x header-icon" aria-hidden="true"></i>
            </md-button>
            <md-button aria-label="More" ng-click="$ctrl.toggleRight()"
               ng-hide="$ctrl.isOpenRight()"
               class="md-icon-button">
               <i class="fa fa-bars fa-2x header-icon" aria-hidden="true"></i>
            </md-button>
         </div>
      </md-toolbar>
      <md-sidenav
         class="md-sidenav-right md-whiteframe-4dp dkw-menu"
         md-component-id="right"
         md-disable-backdrop="true">
         <md-toolbar class="md-primary menu-header">
            <h1 class="md-toolbar-tools menu-title">
               {{$ctrl.menu.title}}
               <div flex></div>
               <md-icon
                  ng-click="$ctrl.close()"
                  style="color: rgba(236, 239 , 241, 1);"
                  md-font-set="fa"> &#xf00d </md-icon>
            </h1>
         </md-toolbar>
         <md-content>
            <md-list id="dkwMenuList" class="menu-content" ng-animate-swap="$ctrl.menu">
               <md-list-item
                  ng-if="$ctrl.menu.title !== 'Main'"
                  class="md-2-line back-btn"
                  ng-click="$ctrl.onMenuBackClick()">
                  <md-icon md-font-set="fa" class="back-chevron" >
                     &#xf053
                  </md-icon>
                  <div flex></div>
                  <div style="text-align: right;">
                     <h4 class="back-title"> 
								{{$ctrl.menu.backMenuTitle}} 
							</h4>
                  </div>
                  <md-divider></md-divider>
               </md-list-item>
               <md-list-item
                  class="md-2-line"
                  ng-repeat="item in $ctrl.menu.sections"
                  ng-click="$ctrl.onMenuItemClick(item)">
                  <md-list-item ng-if="item.type !== 'submenu'" class="menu-link">
                     <h5><a ng-click="$ctrl.close()" ui-sref="{{item.state}}">{{item.name}}</a></h5>
                  </md-list-item>
                  <div>
                     <h5 class="submenu-title" ng-if="item.type === 'submenu'">{{item.name}}</h5>
                  </div>
                  <div flex></div>
                  <md-icon md-font-set="fa" ng-if="item.type === 'submenu'" class="menu-chevron">
                     &#xf054
                  </md-icon>
                  <md-divider></md-divider>
               </md-list-item>
            </md-list>
         </md-content>
      </md-sidenav>
   </md-nav-bar>
   <div
      id="searchInput">
      <md-input-container
								  class="md-icon-float md-icon-right md-block"
								  style="margin-top: 30px">
         <!-- Use floating label instead of placeholder -->
         <label>
         <i
            class="fa fa-search header-icon"
            aria-hidden="true">
         </i>
         Search
         </label>
         <form ng-submit="$ctrl.goToSearch()">
           <input ng-model="$ctrl.query" type="text">
         </form>
         <md-icon
            ng-click="$ctrl.toggleIsSearching()"
            class="closeSearchBtn"
            md-font-set="fa"> &#xf00d </md-icon>
      </md-input-container>
   </div>
</div>
