@full-screen:  ~"only screen and (min-width: 1112px)";
@medium-screen: ~"only screen and (min-width: 961px) and (max-width: 1111px)";
@tablet-screen: ~"only screen and (min-width: 641px) and (max-width: 960px)";
@mobile-screen: ~"only screen and (max-width: 640px)";

@md-breakpoint-screen: ~"only screen and (max-width: 960px)";

/*Font*/
@font-size: 16px;
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*Theme Color*/
@main-background: #eceff1;

@theme-color: rgba(17,61,113,1);
@theme-fade-color: rgba(17,61,113,0.5);
@theme-sub-color: rgba(40, 80, 127, 1);
@theme-sub-fade-color: rgba(40, 80, 127, 0.5);

@theme-color2: rgba(2, 136 , 173, 1);
@theme-fade-color2: rgba(2, 136, 173, 0.5);
@theme-color2-light: rgba(131, 196, 213, 1);

@theme-color3: rgba(236, 239 , 241, 1);
@theme-fade-color3: rgba(236, 239, 241, 0.5);
@theme-fade-black: rgba(0, 0, 0, 0.5);
@theme-darkfade-black: rgba(0, 0, 0, 0.75);

@theme-off-black: rgba(95, 15, 78, 1);
@theme-off-white: rgb(253, 253, 253);
@theme-grey: rgb(102, 102, 102);

@theme-section-background: rgba(230,230,230,0.8);
/*Mixin*/
.theme-gradient-fade() {
  background: -webkit-linear-gradient(to left, rgba(58, 123, 213,0.5) , rgba(58, 96, 115,0.5)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(58, 123, 213,0.5) , rgba(58, 96, 115,0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/**/
* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: @font-size;
  font-family: 'PT Sans', sans-serif;
}

.page-wrap {
	min-height: 100%;
	/* equal to footer height */
   margin-bottom: -300px;
   background-color: @main-background;
   &::after {
      content: "";
      display: block;
   }
   dkw-header {
     md-nav-bar {
       .md-nav-bar {
         height: 3px !important;
       }
     }
   }
   .mainBody {
     background-color: rgba(255,255,255,1);
     padding-top: 87px;
     background-color: rgb(236,239,241);

     .page-container {
		  padding-bottom:100px;
		  .sub-theme { background-color: @theme-color2 !important; padding: 0% 2%;}
		  .theme-padding { padding-left: 7%; padding-right: 7%;}
		  .bold {font-weight: bold}
     }
   }
}

.not-scrollable {
   overflow: hidden;
}

.overlay {
	opacity: 0.5;
}
.scroll-instruction {
  position: absolute;
  display: inline-block;
  color: rgba(255,255,255,1);
  bottom: 20px;
  right: 1%;
  transform: translateX(-50%);
  z-index: 100;
  .theme-gradient-fade;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  .scroll-text { font-size: 14px; text-transform: capitalize; position: absolute; top: 15px; width: 100%;}
  i { font-size: 50px; position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);}
}
.social-links {
  position: fixed;
  top: 50%;
  left: 0;
  width: 50px;
  z-index: 9999;

  @media @mobile-screen {
    top:initial;
    bottom: 0;
    width: 100%;
    height: 50px;
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  .social-icon {
    color: rgba(255,255,255,1);
    text-align: center;
    padding: 10px;
    font-size: .9rem;
    opacity: 0.7;
    transition: .5s all ease;
    display: block;

    &+.social-icon { margin-top: 3px; @media @mobile-screen { margin: 0; }}
    &:hover { opacity: 1; transform: translate3d(8px,0,0); }
    @media @mobile-screen { display: inline-block; width: 25%; float: left; opacity: 1; height: 100%;}
    &.color1 { background-color: rgba(59, 89, 152,1);}
    &.color2 { background-color: rgba(85, 172, 238,1); }
    &.color3 { background-color: rgba(187, 0, 0,1);}
    &.color4 { background-color: rgba(0, 123, 181,1);}
  }
}

*:focus { outline: none;}
