.home-container {
  section {
    border-bottom: 1px solid @theme-color;
    position: relative;
    z-index: 3;
    .section-title {
      position: absolute;
      top: 30px;
      left: 7.4%;
      font-size: 1.3rem;
    }
    &.dkw-carousel {
      @carosel-height: calc(~"100vh - 85px");//600px;
      @mobile-height: calc(~"100vh - 135px");//300px;

      height: @carosel-height;
      overflow: hidden;
      position: relative;
      @media @tablet-screen, @mobile-screen { height: @mobile-height;}
      .carousel {
        height: 100%;
        .carousel-inner {
          position: relative;
          height: @carosel-height;
          @media @tablet-screen, @mobile-screen { height: 100%;/*@mobile-height;*/}

          .item {
            height: @carosel-height;
            @media @tablet-screen, @mobile-screen { height: 100%;/*@mobile-height;*/}
            .img-cover {
              position: absolute;
              top:0;
              left:0;
              width: 100%;
              height: 100%;
              background-color: rgba(0,0,0,0.5);
              z-index: 5;
            }
            .main-img {
              min-height: @carosel-height;
              width: 100%;
              //position: absolute;
              z-index:0;
              top:0;
              left: 0;
              &.video {
                position: absolute;
                background-size: 100% 100%;
                top: 0px;
                left: 0px; /* fixed to left. Replace it by right if you want.*/
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                @media @mobile-screen { display: none; }
              }
              &.video-mobile {
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.9;
                display: none;
                @media @tablet-screen, @mobile-screen { max-width: 200%;  width: 170%; display: block; }
              }
              &.image {
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 0.9;
                @media @tablet-screen, @mobile-screen {  max-width: 200%; width: 150%;  }
              }
              @media @tablet-screen, @mobile-screen {
                height: 100%;/*@mobile-height;*/
                min-height: 100%;
                background-attachment: inherit;
                background-position: inherit;
              }
            }
            .carousel-caption {
              width: 100%;
              left: 0;
              color: @theme-color3;
              text-align: center;
              bottom: 40%;
              @media @tablet-screen, @mobile-screen { padding: 0px 10px; bottom: 30%;}
              .caption-title {
                font-size: 4rem;
                //font-weight: bold;
                margin-bottom: 20px;
                text-transform: uppercase;
                -webkit-animation:0.9s fadeInDown ease;
                animation:0.9s fadeInDown ease;
                @media @tablet-screen, @mobile-screen { font-size: 1.5rem; }
              }
              .caption-text {
                font-size: 1.5rem;
                width: 50%;
                display: inline-block;
                -webkit-animation:0.9s fadeInUp ease;
                animation:0.9s fadeInUp ease;
                @media @tablet-screen, @mobile-screen {  font-size: 1rem; width: 100%;}
              }
            }
          }
        }
        .carousel-indicators  {
          li {
            width: 15px;
            height: 15px;
            background-color: rgba(255,255,255,1);
            &+li { margin-left: 10px;}
            &.active {
              width: 15px;
              height: 15px;
              background-color: rgba(0,0,0,0.1);
              border-width: 2px;
            }
          }
          .pause-ctrl {
            margin-left: 3px;
            width: 20px;
            height: 20px;
            display: inline-block;
            .ctrl-icon {
              font-size: 18px;
              color: @theme-color3;
              vertical-align: top;
            }
          }
        }
      }
    }

    &.dkw-solutions {
      @solutions-height: 400px;
      @mobile-height: 500px;
      background-color: rgba(250,250,250,1);

      .selected-solution {
        //padding: 60px 7% 40px;
        position: relative;
        overflow: hidden;
        //border-bottom: 1px solid rgba(150,150,150,1);
        display: block;
        background-color: @theme-section-background;
        z-index: 1;
        .solutions-title {
          position: absolute;
          top: 30px;
          left: 7.7%;
          font-size: 1.3rem;
        }

        .selected-container2 {
          height: @solutions-height - 70;
          overflow: hidden;
          width: 100%;
          -webkit-animation: slidInRight 0.5s;
          animation: slideInRight 0.5s;
          &.ng-leave { display: none;}
          display: flex;
          @media @tablet-screen, @mobile-screen { height: inherit; display: block;}
          .selected-content {
            padding: 60px 7% 40px;
            width: 60%;
            @media @tablet-screen, @mobile-screen { width: 100%; }
            .selected-title { font-size: 2.2rem; margin-bottom: 20px; color: @theme-color; }
            .selected-text {
              font-size: 1.1rem;
              line-height: 2rem;
              margin-bottom: 20px;
              position: relative;
              @media @medium-screen { font-size: 1rem; }
            }
            .selected-btn {
              border: 1px solid @theme-color;
              padding: 10px 20px;
              border-radius: 20px;
              display: inline-block;
              color: @theme-color;
              cursor: pointer;
              transition: 0.7s all ease-in-out;
              &:hover { background: @theme-color; color: rgba(255,255,255,1);}
            }
          }
          .img-container {
            width: 40%;
            overflow: hidden;
            @media @tablet-screen, @mobile-screen { width: 100%; display: none;}
            .selected-img { width: 100%; min-height: 100%;}
          }
        }
      }
      .all-solutions2 {
        display: block;
        position: relative;
        background: rgba(100,100,100,0.2);

        .solutions-container{
          overflow-x: auto;
          overflow-y: hidden;
          white-space:nowrap;
          display: flex;
          position: relative;
          justify-content: space-around;
          @media @tablet-screen, @mobile-screen { display: block; }
          .solution-item {
            padding:15px;
            text-align: center;
            position: relative;
            width: 33.334%;
            background: rgba(0,0,0,0);
            transition: 0.7s all ease-in-out;
            @media @tablet-screen, @mobile-screen {
              width: initial;
              white-space: normal;
              display: inline-block;
              &+.solution-item { border-left: 1px solid rgba(0,0,0,0.3); }
            }
            .item-title {
              font-weight: bold;
              font-size: 1.1rem;
              display: block;
            }
            &.active {
              .theme-gradient-fade;
              color:rgba(255,255,255,1);
            }
            &:hover:not(.active) { background: rgba(0,0,0,0.2);}
          }
        }
        .mobile-directions {
          text-align: center;
          background-color: @theme-fade-color;
          font-size: 1rem;
          font-weight: bold;
          display: none;
          padding: 4px;
          color: rgba(255,255,255,1);
          @media @tablet-screen, @mobile-screen { display: block;}
        }
      }
    }

    /*News*/
    &.dkw-news {
		 md-content {
       padding: 75px 7% 20px;
       background-color: @theme-section-background !important;
       md-card {
         transition: .5s all ease;
         &:hover {
          transform: translate3d(0,-8px,0);
          cursor: pointer;
          box-shadow:0 20px 30px 0 rgba(17,21,23,.1);
         }
         md-card-content {
          .card-media {
            .img-container {
              width: 150px;
              height: 100px;
              float: left;
              img {  height: 100%; }
            }
            .card-media-text {
              color: #000;
            }
          }
         }
       }
		 }
	  }
    /*Key Clients*/
    &.dkw-keys {
      min-height: 400px;
      padding: 75px 7% 40px;
      background-color: @theme-color3;
      &.clients { border-bottom: none; }
      &.certifications { }

      .clients-section {
        display: flex;
        .key-container {
          width: 5%;
          position: relative;
          @media @tablet-screen, @mobile-screen {  display: none; }
          .key-ctrl {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: @theme-color;
            color: rgba(255,255,255,1);
            width: 45px;
            height: 45px;
            i {
              position: absolute;
              top: 45%;
              left: 50%;
              transform: translate(-50%, -45%);
              font-size: 30px;
            }
            &.inactive { opacity: 0.3; background: rgba(150,150,150,1); cursor: default; }
          }
        }
        .client-container {
          width: 90%;
          overflow-x: hidden;
          overflow-y: hidden;
          white-space:nowrap;

          @media @tablet-screen, @mobile-screen {  overflow-x: auto; width: 100%; }
          .card-container {
            padding: 10px;
            width: 200px;
            height: 250px;
            display: inline-block;
            .client-item {
              border-radius: 10px;
              height: 100%;
              display: block;
              overflow: hidden;
              position: relative;
              background: rgba(255,255,255,1);
              box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
              transition: 0.7s all ease-in-out;
              .card-top {
                padding: 5px;
                overflow: hidden;
                height: 100%;
                position: relative;
                img {
                  width: 70%;
                  position: absolute;
                  left: 50%;
                  top: 40%;
                  transform: translate(-50%, -50%);
                }
              }
              .card-bottom {
                background: @theme-fade-color;
                padding: 5px;
                width: 100%;
                white-space:normal;
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
                color: rgba(255,255,255,1);
                font-weight: bold;
              }
              &:hover { transform: translate3d(0,-8px,0); cursor: pointer; box-shadow:0 10px 20px 0 rgba(17,21,23,.1); }
            }
          }
        }
      }
      .mobile-directions {
        text-align: center;
        background-color: @theme-fade-color;
        font-size: 1rem;
        font-weight: bold;
        display: none;
        padding: 4px;
        color: @theme-color3;
        @media @tablet-screen, @mobile-screen { display: block;}
      }
    }
    /*Paralax Images*/
    &.parallax-img {
      .parallax-cover {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: 2;

        background: #3a7bd5; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #3a7bd5 , #3a6073); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #3a7bd5 , #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .parallax-main {
        height: 600px;//80vh;
        width: 100%;
        z-index:0;
        top:0;
        left: 0;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        //background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //position: absolute;
        opacity: 1;
        -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
        filter: grayscale(70%);

        @media @tablet-screen, @mobile-screen {
          height: 300px;
          //background-size: contain;
          background-attachment: inherit;
          background-position: inherit;
          width: 100%;
        }
      }
    }
  }
}
